#admin{
    min-height:100vh;
    background-color:#2a2d3e;
    background: linear-gradient(to top right, #5d8a76, #141d5e);
}

#cke_1_contents{
    height:200px!important;
}


#admin-td-img{
    width:100px;
    height:50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#admin-top{
    height:50px;
    background-color: #edeff3;
}
#admin-top a{
    color:#8a8a8a;
}
#admin-top a:hover{
    color:#212d42;
}
#admin-top .but{
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:24px;
    float:left;
}

.success{font-weight: 700; color:#5cb85c; font-size: 18px;}
.info{font-weight: 700;}
.error{color:red;}
#errors{margin-top: 20px;}


.admin-bg-ff{
   background-color:#fff; 
   margin:30px 50px 20px 50px;
   min-height:60vh;
   padding-right:0px;
}


.admin-left-menu{
    background-color:#212d42;
    width:100%;
    min-height:105vh;
    padding-top:30px;
    padding-bottom:20px;
}
.admin-left-menu p{
    color:#fff;
}
.admin-left-menu .menu {
    width:98%;
    margin-left:1%;
    display:block;
    min-height:20px;
    color:#ccc;
    background-color:#2e3d56;
    margin-bottom:1px;
    padding:10px 10px 10px 10px;
    transition: all 0.2s ease-out;
}
.admin-left-menu .menu:hover{
    text-decoration:none;
    background-color:#1b9e9f;
}
.admin-ava{
    width:70px;
    height:70px;
    margin:auto;
    background-image: url(/web/img/admin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:100%;
    margin-bottom:15px;
}

.admin-content{
    padding-top:30px;
    padding-bottom:20px;
}

.admin-blocks{
    padding-top:50px;
    padding-bottom:20px;
}
.admin-blocks a:hover{
    text-decoration:none;
}
.admin-content hr{
    border-bottom:1px solid #ccc;
}

.admin-block{
    width:100%;
    min-height:100px;
    border:2px solid #354052;
    border-left:5px solid #354052;
    padding:20px;
    cursor:pointer;
    transition: all 0.2s ease-out;
    margin-bottom:25px;
}
.admin-block:hover{
    background-color:#354052; 
    color:#fff;
}


.admin-block p{
    font-size:12px;
}
.admin-block .fa{
float:left; 
font-size:46px; 
margin-right:20px;
color: #b5becc;
}
.admin-block .zag{
    font-size:16px;
    color:#000;
    font-weight:700;
}
.admin-block:hover .zag{
    color:#fff;
}    
    
    
    
    
    
.admin-footer{
    padding-top:5px;
    padding-bottom:5px;
    color:#000;
}    
    
    
    
    
    
    
    
    
    