@font-face { font-family:CirceLight; src: url(/web/fonts/CirceLight.otf); }
@font-face { font-family:Circe; src: url(/web/fonts/Circe.otf); }
@font-face { font-family:CirceBold; src: url(/web/fonts/CirceBold.otf); }
@font-face { font-family:CirceExtraBold; src: url(/web/fonts/CirceExtraBold.otf); }
@font-face { font-family:ProbaProLight; src: url(/web/fonts/ProbaProLight.otf); }
@font-face { font-family:ProbaProRegular; src: url(/web/fonts/ProbaProRegular.otf); }
@font-face { font-family:ProbaProSemiBold; src: url(/web/fonts/ProbaProSemiBold.otf); }
@font-face { font-family:ProbaProBold; src: url(/web/fonts/ProbaProBold.otf); }

body{ font-weight:400; }
h1,h2,h3,h4,strong{font-weight:700;}
  
    
img{ max-width:100%;}

input:focus { outline: none; }

.state_item{margin: 20px 0px;}

#delfotos{
    cursor:pointer;
    color:#f10;
    font-size:29px;
    width:30px;
    height:34px;
    line-height:30px;
    text-align:center;
}
#delfotos:hover{
    border:2px solid #f10;
}
#delfotosu{
    cursor:pointer;
    color:#f10;
    font-size:29px;
    width:30px;
    height:34px;
    line-height:30px;
    text-align:center;
}
#img-port{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:150px;
    margin-bottom:20px;
}


.block-f{
    width: 100%;
    height: 210px;
    background-color: #ccc;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border:5px solid #fff;
    transition: all 0.3s ease-out;
}
.block-f:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border:5px solid #9ec54c;
    transform: scale(1.02);
}


#mod-vid{
    width:600px;
    max-width:100%;
    min-height:300px;
    position:fixed; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%);
	background-color:#fff;
	z-index:300;
	padding:30px;
	display:none;
}
#mod-vid .bl1{
    display:none;
}
#mod-vid .but{
	width:160px;
	max-width:100%;
	margin:auto;
	height:35px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	font-size: 12px;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	margin-top:20px;
}
#mod-vid .but:hover{
	background: linear-gradient(to top, #f8e305, #ffa200);
}



.vh{
    min-height:50vh;
    padding-top:60px;
    padding-bottom:60px;
}
.vh p{
    font-size:16px;
}
.vh table{
    width:100%;
}
.vh table td{
    padding:10px;
}



#load{
    padding-top:15px;
}
#load2{
    padding-top:15px;
    color:#fff;
}
#load3{
    padding-top:15px;
    color:#fff;
}


#menutop{
    position:fixed;
    width:100%;
    height:100vh;
    background-color: #fff;
    z-index:200;
    text-align:center;
    left:-100%;
}
#menutop a{
    display:block;
    height:40px;
    padding:30px 10px;
    color:#000;
    font-weight:700;
    text-transform:uppercase;
    font-size:16px;
}
.m-menu{
    font-size:19px;
    padding-top:15px;
    padding-bottom:15px;
    cursor: pointer;
    color: #fff;
}



#header{
	padding-top: 15px;
	padding-bottom: 10px;
}
#header .text{
	text-align: center;
	font-size: 12px;
	color:#000;
	font-family:CirceBold;
	padding-top: 15px;
}
#header .text span{
	color:#999;
	font-family:CirceLight; 
}
#header .but{
	width:180px;
	max-width: 100%;
	height: 45px;	
	line-height: 45px;
	background: linear-gradient(to top, #ffbf24, #ffd41a);
	border:1px solid #ffbf24;
	border-radius: 35px;
	text-align: center;
	font-size: 11px;
	color:#000;
	font-family:Circe;
	cursor: pointer;
	margin:auto;
	margin-top:12px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.10);
	transition: all 0.3s ease-out;
}
#header .but:hover{
	background: linear-gradient(to top, #ffd41a, #ffbf24);
}
#header .tell{
	text-align: left;
	font-size: 14px;
	color:#666;
	font-family:CirceLight; 
}
#header .tell img{
	width: 20px;
	vertical-align: middle;
	margin-right:10px; 
}
#header .tell .fa{
	font-size: 19px;
	margin-right:15px; 
	color:#48c100;
}
#header .tell .svg{
	margin-top:-5px; 
}
#header .tell span{
	color:#000;
	font-family:Circe;
	font-size: 18px;
}
#header .tell a{
	font-size: 18px;
	color: #000;
	font-family:Circe;
}
#header .tell a:hover{
	text-decoration: none;
}
@media(max-width:900px){
#header{
	text-align: center;
}
#header .tell{
	text-align: center;
	padding-top:20px;
}
}



#menu{
	background-color: #00a85e;
	min-height: 40px;
}
#menu .menu{
	display: flex;
}
#menu .menu a{
	flex-basis: auto;
    flex-grow: 1;
    color:#fff;
    height:45px;
    line-height: 45px;
    border-left:1px solid #018f50;
    text-align:center;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
}
#menu .menu a:last-child {
    border-right:1px solid #018f50;
}
#menu .menu a:hover{
	text-decoration: none;
	background-color: #018f50;
}
@media(max-width:900px){
	
}



#block {
    background: url(/web/img/bg.jpg) no-repeat center top;
    background-size: cover;
    min-height: 700px;
    color: #000;
    padding-top: 120px;
    padding-bottom: 150px;
}
#block h1{
	color:#fff;
	font-weight: 900;
	font-size: 46px;
	text-transform: uppercase;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.75);
}
#block h2{
	color:#fff;
	font-weight: 300;
	font-size: 24px;
}
#block .line{
	margin-top:30px;
	margin-bottom:30px;
	background-color: #f9dd05;
	width: 120px;
	height: 3px;
}
@media(max-width:900px){
#block {
	padding-top: 60px;
}
#block h1{
	font-size: 26px;
	text-align: center;
}
#block h2{
	font-size: 18px;
	text-align: center;
}
#block .line{
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}	
}

#block .zag{
	font-size: 36px;
}
#block .zag span{
	font-family:CirceBold;
	font-size: 46px;
}
#block .form{
	text-align: center;
	margin:auto;
	width: 350px;
	max-width:100%;
	min-height: 380px;
	border-radius: 15px;
	background: linear-gradient(to top, #008350, #00d66f);
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
	padding:40px 30px 20px 30px;
	font-family:ProbaProRegular;
}
@media(max-width:900px){
#block .form{
	margin-top:40px;
}
}
#block .form strong{
	font-family:ProbaProSemiBold;
	font-size: 24px;
}
#block .form p{
	font-size: 20px;
}
#block .form p span{
	color:#f10;
}
#block .form .big{
	color:#fff;
	font-size: 36px;
	text-transform: uppercase;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
#block .form form input{
	width:100%;
	float:left;
	margin-bottom:10px;
	height:55px;
	border:none;
	border:0px;
	font-size: 16px;
	padding:10px 20px;
	margin-top:5px;
	margin-right:1%;
	color: #fff;
	text-align: center;
	border-radius:10px;
	background-color: #018249;
}
#block .form form input[type="submit"]{
	width:100%;
	height:65px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
}
#block .form form input[type="submit"]:hover{
	box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
	background: linear-gradient(to top, #f8e305, #ffa200);
}
#block .form form input::-webkit-input-placeholder {
    color: #fff; /* Цвет подсказывающего текста */
   }



#gazon{
	background-color: #fff;
	padding-top:100px;
	padding-bottom: 100px;
	margin-top:-50px;
	min-height: 300px;
}
#gazon .img{
	padding-top:10px;
	text-align: center;
}
#gazon .block{
	padding-top:40px;
}
#gazon .block .dot{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 24px;
}
#gazon .left{
	text-align: right;
}
#gazon .left .dot{
	padding-right: 25px;
	background: url(/web/img/dot.png) no-repeat center right;
}
#gazon .right{
	text-align: left;
}
#gazon .right .dot{
	padding-left: 25px;
	background: url(/web/img/dot.png) no-repeat center left;
}
@media(max-width:900px){
#gazon .left{
	text-align: left;
}
#gazon .left .dot{
	padding-left: 25px;
	background: url(/web/img/dot.png) no-repeat center left;
}
#gazon .block .dot{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}
#gazon .img{
	padding-top:10px;
	text-align: center;
	width: 70%;
}
}
#gazon .text{
	text-align: center;
	padding-top:30px;
	font-size: 16px;
}


#preimuch{
	background-color: #f5f5f5;
	min-height: 300px;
	padding-top:80px;
	padding-bottom: 50px;
}
#preimuch .img{
	padding-top:10px;
	text-align: center;
}
#preimuch .block{
	padding-top:40px;
}
#preimuch .block .dot{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
}
#preimuch .left{
	text-align: right;
}
#preimuch .left .dot{
	padding-right: 45px;
	background: url(/web/img/plus.png) no-repeat center right;
}
#preimuch .right{
	text-align: left;
}
#preimuch .right .dot{
	padding-left: 45px;
	background: url(/web/img/plus.png) no-repeat center left;
}
@media(max-width:900px){
#preimuch .left{
	text-align: left;
}
#preimuch .left .dot{
	padding-left: 45px;
	background: url(/web/img/plus.png) no-repeat center left;
}	
}


#utp{
	min-height: 100px;
	background: url(/web/img/bg2.jpg) no-repeat center top;
    background-size: cover;
    padding-top:50px;
	padding-bottom: 50px;
}
#utp p{
	font-size: 18px;
	color:#fff;
}
#utp .but{
	width:250px;
	max-width:100%;
	margin:auto;
	height:55px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	line-height: 55px;
	cursor: pointer;
}
#utp .but:hover{
	box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
	background: linear-gradient(to top, #f8e305, #ffa200);
}
@media(max-width:900px){
#utp p{
	text-align: center;
}	
}



#podkluch{
	padding-top: 180px;
    padding-bottom: 160px;
	min-height: 300px;
	background: url(/web/img/bg3.jpg) no-repeat center bottom;
	background-color: #f7fcff;
}
#podkluch .block{
	min-height: 200px;
	background-color: #fff;
	border-radius:20px; 
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
	padding-bottom: 30px;
	margin-bottom: 25px;
}
#podkluch .vip{
	color:#fff;
	background: linear-gradient(to top, #008350, #00d66f);
}
#podkluch .block .top{
	padding:20px;
	min-height: 50px;
	border-radius:20px 20px 0px 0px;
	background: url(/web/img/bg6.jpg) no-repeat center;
	text-align: center;
	color:#fff;
	font-size: 18px;
}
#podkluch .block .top span{
	font-size: 40px;
	font-weight: 900;
}
#podkluch .block .top strong{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}
#podkluch .block .text{
	padding:50px;
	font-size: 16px;
}
@media(max-width:900px){
#podkluch{
	padding-top: 90px;
	padding-bottom: 90px;
}
#podkluch .block .text{
	padding:20px;
}
}
#podkluch .block .text li{
	margin-bottom: 8px;
}
#podkluch .block .but{
	width:300px;
	max-width:100%;
	margin:auto;
	height:55px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	line-height: 55px;
	cursor: pointer;
}
#podkluch .block .but:hover{
	box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
	background: linear-gradient(to top, #f8e305, #ffa200);
}
#podkluch .akci{
	background: linear-gradient(to top, #008350, #00d66f);
	min-height: 150px;
	padding:10px;
}
#podkluch .akciin{
	background-color: #fff;
	min-height: 150px;
	padding:30px;
	text-align: center;
	font-family:ProbaProRegular;
}
#podkluch .akciin .title{
	font-size: 20px;
}
#podkluch .akciin .title strong{
	font-family:ProbaProBold;
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
}
#podkluch .akciin .title span{
	font-family:ProbaProBold;
	font-size: 30px;
	color: #f10;
	text-transform: uppercase;
}
#podkluch .akciin .but{
	width:250px;
	max-width:100%;
	margin:auto;
	height:55px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	font-size: 12px;
	border-radius:55px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	line-height: 55px;
	cursor: pointer;
	margin-top:20px;
	margin-bottom:-60px;
}
#podkluch .akciin .but:hover{
	background: linear-gradient(to top, #f8e305, #ffa200);
}





#vids{
	padding-top: 150px;
    padding-bottom: 50px;
}
#vids .block{
	width:18%;
	text-align: center;
	margin-bottom: 25px;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
	padding: 10px 10px 20px 10px;
	float:left;
	margin:1%;
	transition: all 0.3s ease-out;
}
@media(max-width:1200px){
#vids .block{
	width:30%;
}
}
@media(max-width:900px){
#vids .block{
	width:98%;
	margin-bottom:25px;
}
}
#vids .block:hover {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}
#vids .block .foto{
	width:100%;
	height: 210px;
	background-color: #ccc;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#vids .block .name{
	font-size: 18px;
	color: #000;
	font-weight: 700;
}
#vids .block .line{
	margin:auto;
	background-color: #00a85e;
	width: 50px;
	height: 3px;
	margin-bottom: 15px;
	transition: all 0.3s ease-out;
}
#vids .block:hover .line{
    width: 80px;
}
#vids .block .but{
	width:160px;
	max-width:100%;
	margin:auto;
	height:35px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	font-size: 12px;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	margin-top:20px;
}
#vids .block .but:hover{
	background: linear-gradient(to top, #f8e305, #ffa200);
}



#about{
	padding-top: 120px;
    padding-bottom: 100px;
}
#about img{
	margin-bottom:25px;
}
#about .row p{
	font-size: 16px;
}



#poliv{
    background: url(/web/img/bg4.jpg) no-repeat center top;
    background-size: cover;
    min-height: 500px;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    color:#fff;
}
#poliv a:hover{
    text-decoration:none;
}
#poliv .zag{
	font-weight: 900;
	font-size: 44px;
}
#poliv .podzag{
	font-size: 30px;
}
#poliv .text{
	font-size: 18px;
}
@media(max-width:900px){
#poliv .zag{
	font-weight: 900;
	font-size: 26px;
}
#poliv .podzag{
	font-size: 20px;
}
#poliv .text{
	font-size: 16px;
}	
}
#poliv .line{
	margin:auto;
	background-color: #00a85e;
	width: 90px;
	height: 3px;
	margin-top:25px;
	margin-bottom:25px;
}
#poliv .but{
	width:300px;
	max-width:100%;
	margin:auto;
	height:65px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	line-height: 65px;
	cursor: pointer;
	margin-top:20px;
}
#poliv .but:hover{
	box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
	background: linear-gradient(to top, #f8e305, #ffa200);
}



#otzivi{
	padding-top:130px;
	padding-bottom:130px;
}
#otzivi .block{
	background: linear-gradient(to top, #008350, #00d66f);
	min-height: 150px;
	margin:30px 80px;
	border-radius:25px;
	padding:30px;
	color:#fff;
}
#otzivi img{
	margin-bottom:20px;
}
#otzivi .name{
	font-weight: 700;
	font-size: 18px;
}
@media(max-width:900px){
#otzivi .block{
	margin:30px;
	text-align: center;
}
}



#dostavka{
	padding-top:30px;
	padding-bottom:130px;
}
#dostavka .avto{
	background: url(/web/img/car.jpg);
	min-height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 50px;
}
#dostavka .text{
	font-size: 18px;
}
#dostavka .form{
	text-align: center;
	margin:auto;
	width: 350px;
	max-width:100%;
	min-height: 380px;
	border-radius: 15px;
	background: linear-gradient(to top, #008350, #00d66f);
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
	padding:40px 30px 20px 30px;
	font-family:ProbaProRegular;
}
@media(max-width:900px){
#dostavka .avto{
	background-position: center left;
}
#dostavka .form{
	margin-top:40px;
}
}
#dostavka .form strong{
	font-family:ProbaProSemiBold;
	font-size: 20px;
}
#dostavka .form p{
	font-size: 18px;
}
#dostavka .form p span{
	color:#f10;
}
#dostavka .form .big{
	color:#fff;
	font-size: 36px;
	text-transform: uppercase;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
#dostavka .form form input{
	width:100%;
	float:left;
	margin-bottom:10px;
	height:55px;
	border:none;
	border:0px;
	font-size: 16px;
	padding:10px 20px;
	margin-top:5px;
	margin-right:1%;
	color: #fff;
	text-align: center;
	border-radius:10px;
	background-color: #018249;
}
#dostavka .form form input[type="submit"]{
	width:100%;
	height:65px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
}
#dostavka .form form input[type="submit"]:hover{
	box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
	background: linear-gradient(to top, #f8e305, #ffa200);
}
#dostavka .form form input::-webkit-input-placeholder {
    color: #fff; /* Цвет подсказывающего текста */
}





#makita{
    background: url(/web/img/bg5.jpg);
    min-height: 200px;
    color: #000;
    margin-top:80px;
    margin-bottom:80px;
}
#makita img{
	margin-top:-50px;
	margin-bottom:-40px;
}
#makita .text{
	padding-top:50px;
	padding-bottom:20px;
}
#makita .zag{
	font-size: 24px;
	color:#fff;
	font-weight: 300;
}
#makita .zag span{
	font-size: 48px;
	font-weight: 900;
}
#makita .zag .yellow{
	color:#ffe900;
}
@media(max-width:900px){
#makita .zag{
	font-size: 20px;
}
#makita .zag span{
	font-size: 30px;
}
#makita img{
	margin-top:20px;
	margin-bottom:-40px;
}
}
#makita .but{
	width:300px;
	max-width:100%;
	height:65px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	line-height: 65px;
	cursor: pointer;
	margin-top:10px;
}
#makita .but:hover{
	box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
	background: linear-gradient(to top, #f8e305, #ffa200);
}



#shema{
	padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}
#shema .block{
	padding:0px 10px;
}
#shema img{
	margin-bottom: 25px;
}
#shema .name{
	font-size: 18px;
	color: #000;
	font-weight: 700;
}
#shema .line{
	height:2px;
	width:80px;
	margin:auto;
	margin-top:20px;
	margin-bottom: 20px;
	background-color: #fcba02;
}
@media(max-width:900px){
#shema .block{
	padding:10px;
}	
}




#men{
    background: url(/web/img/bg7.jpg) no-repeat center bottom;
    min-height: 500px;
    color: #000;
    padding-top: 150px;
    padding-bottom: 0px;
    text-align: center;
}
#men .block{
	width:100%;
	min-height: 50px;
	background-color: #1c1c1c;
	color:#fff;
	padding:40px 50px;
	border-radius: 25px;
	font-size: 18px;
	margin-top:50px;
}


#footer .top{
	background-color: #1c1c1c;
	min-height: 50px;
	padding-top:30px;
	padding-bottom: 25px;
}
#footer .center{
	background-image: url(/web/img/footer.jpg);
	background-repeat: repeat-x;
	height: 17px;
}
#footer .bottom{
	background-color: #080808;
	min-height: 50px;
	padding-top:20px;
	padding-bottom: 15px;
}
#footer .text{
	text-align: center;
	font-size: 12px;
	color:#fff;
	font-family:CirceBold;
	padding-top: 15px;
}
#footer .text span{
	color:#999;
	font-family:CirceLight; 
}
#footer .but{
	width:180px;
	max-width: 100%;
	height: 45px;	
	line-height: 45px;
	background: linear-gradient(to top, #ffbf24, #ffd41a);
	border:1px solid #ffbf24;
	border-radius: 35px;
	text-align: center;
	font-size: 11px;
	color:#000;
	font-family:Circe;
	cursor: pointer;
	margin:auto;
	margin-top:12px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.10);
	transition: all 0.3s ease-out;
}
#footer .but:hover{
	background: linear-gradient(to top, #ffd41a, #ffbf24);
}
#footer .tell{
	text-align: left;
	font-size: 14px;
	color:#666;
	font-family:CirceLight; 
}
#footer  .tell img{
	width: 20px;
	vertical-align: middle;
	margin-right:10px; 
}
#footer .tell .fa{
	font-size: 19px;
	margin-right:15px; 
	color:#48c100;
}
#footer  .tell .svg{
	margin-top:-5px; 
}
#footer  .tell span{
	color:#000;
	font-family:Circe;
	font-size: 18px;
}
#footer  .tell a{
	font-size: 18px;
	color: #fff;
	font-family:Circe;
}
#footer  .tell a:hover{
	text-decoration: none;
}
@media(max-width:900px){
#footer{
	text-align: center;
}
#footer .tell{
	text-align: center;
	padding-top:20px;
}
}
#footer .menu{
	display: flex;
}
#footer .menu a{
	flex-basis: auto;
    flex-grow: 1;
    color:#999;
    height:45px;
    line-height: 45px;
    text-align:center;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
}



#mup{
	min-height: 250px;
}


#fon{ 
	background-color: rgba(0, 0, 0, 0.9); 
	width:100%; 
	height:100%; 
	position:fixed; 
	z-index:200; 
	display:none; 
	top:0px;
}
#zag{
	text-align: center;
	font-size: 40px;
	color: #000;
	font-family:ProbaProBold;
	text-transform: uppercase;
}
@media(max-width:900px){
#zag{	
	font-size: 26px;
}
}
#podzag{
	text-align: center;
	font-size: 16px;
	color: #000;
	padding-top:15px;
}
#line{
	margin:auto;
	background-color: #00a85e;
	width: 90px;
	height: 3px;
}


#mess{
	position:fixed; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%);
	width:350px;
	max-width: 100%;
	min-height: 200px;
	background-color: #fff;
	z-index:201; 
	padding:0px 30px 30px 30px;
	text-align: center;
	display:none; 
}
@media(max-width:900px){
#mess{
	position:absolute; 
	transform: translate(-50%, 0%);
}   
}
#mess .zag{
	color:#000;
	font-size: 32px;
	font-weight: 700;
}

#mess form input{
	width:90%;
	margin-bottom:10px;
	height:40px;
	border:none;
	border-bottom:1px solid #999;
	font-size: 16px;
	text-align: center;
}
#mess form input[type="submit"]{
	width:300px;
	max-width:100%;
	margin:auto;
	height:55px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	cursor: pointer;
}
#mess form input[type="submit"]:hover{
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
}
#mess .x{
	width:35px;
	height:35px;
	margin:auto;
	background-color: #fff;
	cursor: pointer;
	margin-bottom:20px;
	margin-top:-9px;
	border-radius:100%;
	background-image: url(/web/img/x.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 5px solid #fff;
}


#mess2{
	position:fixed; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%);
	width:350px;
	max-width: 100%;
	min-height: 100px;
	background-color: #fff;
	z-index:201; 
	padding:0px 30px 30px 30px;
	text-align: center;
	display:none; 
}

#mess2 .zag{
	color:#000;
	font-size: 32px;
	font-family:CirceExtraBold;
}
#mess2 .x{
	width:35px;
	height:35px;
	margin:auto;
	background-color: #fff;
	cursor: pointer;
	margin-bottom:20px;
	margin-top:-9px;
	border-radius:100%;
	background-image: url(/web/img/x.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 5px solid #fff;
}



#mess4{
	position:fixed; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%);
	width:350px;
	max-width: 100%;
	min-height: 200px;
	background-color: #fff;
	z-index:201; 
	padding:0px 30px 30px 30px;
	text-align: center;
	display:none; 
}
@media(max-width:900px){
#mess4{
	position:absolute; 
	transform: translate(-50%, 0%);
}   
}
#mess4 .zag{
	color:#000;
	font-size: 32px;
	font-weight: 700;
}

#mess4 form input{
	width:90%;
	margin-bottom:10px;
	height:40px;
	border:none;
	border-bottom:1px solid #999;
	font-size: 16px;
	text-align: center;
}
#mess4 form input[type="submit"]{
	width:300px;
	max-width:100%;
	margin:auto;
	height:55px;
	border:none;
	color:#000;
	transition: all 0.2s ease-out;
	font-weight: 500;
	border-radius:45px;
	text-transform: uppercase;
	background: linear-gradient(to top, #ffa200, #f8e305);
	border:1px solid #f8e305;
	text-align: center;
	cursor: pointer;
}
#mess4 form input[type="submit"]:hover{
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
}
#mess4 .x{
	width:35px;
	height:35px;
	margin:auto;
	background-color: #fff;
	cursor: pointer;
	margin-bottom:20px;
	margin-top:-9px;
	border-radius:100%;
	background-image: url(/web/img/x.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 5px solid #fff;
}


.demo > div{ position:relative;}
.unslider-arrow{
	display: block;
    width: 19px;
    height: 34px;
    top: 50%;
    right: -50px;
    margin-top: -16px;
    overflow: hidden;
    background-image: url('/web/img/str.png');
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999em;

	}
.unslider-arrow.prev {
    left: 18px;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.slider{ position:relative;}
.unslider-arrow.next {
    right: 0px;
}
.unslider-arrow.prev {
    left: 0px;
}


#popup__toggle{bottom:25px;right:10px;position:fixed; cursor:pointer; z-index: 120;}
.img-circle{background-color:#9ec54c;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #9ec54c;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#9ec54c;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(/web/img/mini.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}